
      <footer>
	<p class="boilerplate">
	{% if site.github.is_project_page %}
        <i>{{ site.name }}</i> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.
        {% endif %}
        Hosted on GitHub Pages.	Theme based on <a href="https://pages-themes.github.io/minimal/">Minimal</a> by <a href="https://github.com/orderedlist">orderedlist</a></br>
	Last update: {{ site.time }}. Please raise an <a href="https://github.com/PRAEst-76/Omera/issues">issue</a> on the Github repository for any problems, suggestions or requests.</p>
      </footer>
