---
---

@import "{{ site.theme }}";

body {
  margin: 0px;
  padding: 0px;
  color: #493c33;
  background-color: #e2c582;
  background-image: url("{{ site.baseurl }}/assets/img/texture-seamless-wood-5.jpg");
  background-attachment: fixed;
}
section {
	width: 600px;
  border: 2px dashed beige;
  margin: 0px;
  padding: 0px 20px;
  background-image: url("{{ site.baseurl }}/assets/img/parchment.png");
  background-position: center;
  background-size: 600px;
  background-repeat: repeat-y;
}
header {
  border: 2px dashed beige;
  margin: 20px 0px;
  padding: 0px;
  width: 400px;
  background-image: url("{{ site.baseurl }}/assets/img/smallscroll.png");
  background-position: center;
  background-size: 400px;
  background-repeat: no-repeat;
}
h1, h2, h3, h4, h5, h6, p, ul, ol {
	font-family: Carolingia, "Eagle Lake", "Brush Script MT", cursive;  
	color:#222;
	    margin:20px;
    }
.wrapper {
	margin-top: 0px;
	}
.menu {
  margin: 5px 30px; 
}

.byline {
  text-align: right; 
}
.entry {
  margin: 5px 20px;
  background-color: #e6e6e6;
}
.boilerplate {
  width: auto;
  border: 2px dashed beige;
  margin: 20px 0px; 
  color: beige;
  font-size: small;
  text-float: left;
  writing-mode: vertical-rl;
  }
