---
---

@import "{{ site.theme }}";

body {
  color: #493c33;
  background-color: #e2c582;
}
section {
  background-image: url("{{ site.baseurl }}/assets/img/parchment.png");
  background-position: center;
  background-size: 520px;
  background-repeat: repeat-y;
}
header {
  background-image: url("{{ site.baseurl }}/assets/img/smallscroll.png");
  background-position: center;
  background-size: 280px;
  background-repeat: no-repeat;
}
.wrapper {
	margin-top: 50px;
	}
.menu {
  margin-left: 20px; 
}

.byline {
  text-align: right; 
}
.entry {
  background-color: #e6e6e6;
}
