---
---

@import "{{ site.theme }}";
@font-face {
	  font-family: carolingia;
	    src: url({{ site.baseurl }}/assets/font/carolingia.ttf);
    }
body {
  margin: 0px;
  padding: 0px;
  color: #493c33;
  background-color: #e2c582;
  background-image: url("{{ site.baseurl }}/assets/img/desk.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
}
.desc {
	margin: 50px 50px 50px 20px;
}
.scrolltop {
	position: absolute;
  	top: 0px;
	width: 500px;
	height: 127px;
	margin: 0px;
	padding: 0px;
	background-image: url("{{ site.baseurl }}/assets/img/largescrolltop.png");
  	background-position: center bottom;
    	background-size: 500px 127px;
      	background-repeat: no-repeat;
}
.scrollmid {
  	position: absolute;
	top: 127px;
	width: 500px;
	height: auto;
	margin: 0px;
	padding: 0px;
	background-image: url("{{ site.baseurl }}/assets/img/largescrollmiddle.png");
  	background-position: center;
    	background-size: 500px auto;
      	background-repeat: repeat-y;
}
.scrollbot {
	position: absolute;
	width: 500px;
	height: 143px;	
	margin: 0px;
	padding: 0px;
	background-image: url("{{ site.baseurl }}/assets/img/largescrollbottom.png");
  	background-position: center top;
    	background-size: 500px 143px;
      	background-repeat: no-repeat;
}
section {
	width: 500px;
	height: auto;
 	margin: 0px;
  	padding: 0px;
}
.book1 {
  margin: 0px;
  padding: 0px;
  width: 200px;
  background-image: url("{{ site.baseurl }}/assets/img/book1.png");
  background-position: center;
  background-size: 200px;
  background-repeat: no-repeat;
}
.book2 {
  margin: 0px;
  padding: 0px;
  width: 200px;
  background-image: url("{{ site.baseurl }}/assets/img/book2.png");
  background-position: center;
  background-size: 200px;
  background-repeat: no-repeat;
}
.book2 {
  margin: 0px;
  padding: 0px;
  width: 200px;
  background-image: url("{{ site.baseurl }}/assets/img/book2.png");
  background-position: center;
  background-size: 200px;
  background-repeat: no-repeat;
}
.scroll {
  margin: 0px 60px;
  padding: 0px;
  left: 60px;
  width: 200px;
  height: 71px;
  vertical-align: middle;
  background-image: url("{{ site.baseurl }}/assets/img/scroll.png");
  background-position: center center;
  background-size: 200px 71px;
  background-repeat: no-repeat;
}
h1, h2, h3, h4, h5, h6 {
	text-transform: capitalize;
	font-family: Carolingia, "Eagle Lake", "Brush Script MT", cursive;  
	margin: 20px 50px;
    }
 p, ul, ol {

	font-family: cursive;  
	margin: 20px 50px;
}
.wrapper {
	margin-top: 0px;
	}
.menu {
  margin-left: 80px; 
}

.byline {
  text-align: right; 
}
.entry {
  margin: 5px 20px;
  background-color: #e6e6e6;
}
.boilerplate {
	position: relative;
	top: 50px;
	width: auto;
  margin: 0px;
  background: black;
  padding: 0px;
  color: beige;
  font-size: small;
  text-float: left;
  writing-mode: vertical-rl;
  }
