---
layout: default
---
<!-- <link rel="alternate" type="application/rss+xml" href="{{ site.url }}{{site.baseurl }}/feed.xml" /> -->
<h1>
  Updates
</h1>
<h2>
  {{ page.title }}
  <span class="postDate">
    {{ page.date | date: "%b %-d, %Y" }}
  </span>
</h2>

{{ content }}


<h4 class="byline">
	{% if page.author %}
  {{ page.author | join: " - " }}
    {% endif %}
    	{% if page.author %}
  {{ page.author | join: " - " }}
    {% endif %}
  [Report an issue](https://github.com/PRAEst-76/Omera/issues/new?title=Racing+Mechanics)
</h4>
