---
layout: default
---
<!-- <link rel="alternate" type="application/rss+xml" href="{{ site.url }}{{site.baseurl }}/feed.xml" /> -->
<h1>
  Updates
</h1>
<h2>
  {{ page.title }}
  <span class="postDate">
    {{ page.date | date: "%b %-d, %Y" }}
  </span>
</h2>

{{ content }}

<h4 class="byline">

  {% if page.author %}
  {{ page.author | join: " - " }}
  {% endif %}

  <br />

  {% if page.date %}
  <i>Posted: {{ page.update }}</i>
  {% endif %}

  <br />

  {% if page.update %}
  <i>Updated: {{ page.update }}</i>
  {% endif %}

  <br />

  <a href="https://github.com/PRAEst-76/Omera/issues/new?title={{ page.title | replace:' ','+' }}">
    Report an issue
  </a>

</h4>